<h3>Reviews</h3>

<p ng-show="product.reviews.length === 0">No reviews added yet...</p>

<ul>
    <li ng-repeat="review in product.reviews">
        <blockquote>
            <star-rating ng-model="review.stars" is-read-only="true"></star-rating>
            <strong><p>{{review.stars}} Stars</p></strong>
            {{review.body}}
            <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
        </blockquote>
    </li>
</ul>

<!--  Review Form -->
<form name="reviewForm" ng-submit="reviewForm.$valid && rvm.addReview(product); updateMethod(product)" novalidate ng-show="rvm.isLoggedIn">
    <!--  Live Preview -->
    <blockquote ng-show="rvm.review">
        <star-rating ng-model="rvm.review.stars" is-read-only="true"></star-rating>
        <strong>{{rvm.review.stars}} Stars</strong>
        {{rvm.review.body}}
        <cite class="clearfix">—{{rvm.review.author}}</cite>
    </blockquote>

    <!--  Review Form -->
    <h4>Submit a Review</h4>
    <fieldset class="form-group">
        <star-rating ng-model="rvm.review.stars"></star-rating>
    </fieldset>
    <fieldset class="form-group">
        <textarea ng-model="rvm.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
    </fieldset>
</form>


