<div class="container">
    <h1>Edit Vinyl</h1>
    <form >

        <fieldset class="form-group">
            <label for="description">artist</label>
            <input class="form-control" type="text" id="description" name="description" ng-model="vm.vinyl.artist_id">
        </fieldset>

        <fieldset class="form-group">
            <label for="title">album</label>
            <input class="form-control" type="text" id="title" name="title" ng-model="vm.vinyl.album">
        </fieldset>

        <fieldset class="form-group">
            <label for="content">year</label>
            <input class="form-control" type="text" id="content" name="content" ng-model="vm.vinyl.year">
        </fieldset>

        <fieldset class="form-group">
            <label for="cover">cover</label><br>
        </fieldset>

            <div class="row">
                <div class="col-sm-6">
                    <single-file-drop file="vm.vinyl.images.frontCover" caption="add front"></single-file-drop>
                </div>
                <div class="col-sm-6">
                    <single-file-drop file="vm.vinyl.images.backCover" caption="add back"></single-file-drop>
                </div>

            </div>

    </form>

    <tracklist-editor></tracklist-editor>

    <button type="button" class="btn btn-success pull-right" ng-click="vm.updateVinyl(vm.vinyl)">Save</button>
</div>

