<div class="container">
    <div class="row">
        <div ng-repeat="vinyl in vm.vinyls" class="col-sm-4">
            <a ng-href="#/vinyls/{{vinyl._id}}">
                <img ng-src="{{vinyl.images.frontCover || 'images/vinyl-default.jpg'}}" class="img-responsive">
                <h2>
                    {{vinyl.artist_id}}
                </h2>
                <h3>
                    {{vinyl.album}}
                </h3>
            </a>
            <star-rating rating-value="vinyl.averageRating" is-read-only="true"></star-rating>
                <p>added by <a ng-href="#/users/{{vinyl.addedBy}}">{{vinyl.addedBy}}</a></p>
                <time-elapsed input="vinyl.dateAdded"></time-elapsed>
        </div>
    </div>
</div>


