<div class="container">
    <h1>New Vinyl</h1>
    <form>
        <fieldset class="form-group">
            <label for="description">artist</label><br>
            <input type="text" ng-model="vm.vinyl.artist_id" uib-typeahead="artist._id for artist in vm.artists | filter:$viewValue | limitTo:8" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <label for="title">album</label>
            <input class="form-control" type="text" id="title" name="title" ng-model="vm.vinyl.album">
        </fieldset>
        <fieldset class="form-group">
            <label for="content">year</label>
            <input class="form-control" type="text" id="content" name="content" ng-model="vm.vinyl.year">
        </fieldset>
        <fieldset class="form-group">
            <label for="cover">cover</label><br>
        </fieldset>
        <div class="row">
            <div class="col-sm-6">
                <single-file-drop file="vm.vinyl.images.frontCover" caption="add front"></single-file-drop>
            </div>
            <div class="col-sm-6">
                <single-file-drop file="vm.vinyl.images.backCover" caption="add back"></single-file-drop>
            </div>
        </div>
    </form>
    <tracklist-editor tracklist="vm.vinyl.tracklist"></tracklist-editor>
    <button type="button" class="btn btn-success pull-right" ng-click="vm.createVinyl(vm.vinyl)">Save</button>
</div>



