<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img ng-src="{{vm.vinyl.images.frontCover || 'images/vinyl-default.jpg'}}" style="width: 100%">
        </div>
        <div class="col-sm-6">
            <img  ng-src="{{vm.vinyl.images.backCover || 'images/vinyl-default.jpg'}}" style="width: 100%">
        </div>
    </div>
    <h2>
        artist
    </h2>
    <a ng-href="#/artists/{{vm.vinyl.artist_id}}">{{vm.vinyl.artist_id}}</a>
    <h3>
        album
    </h3>
    <p>{{vm.vinyl.album}}</p>
    <h3>
        average rating
    </h3>
    <star-rating rating-value="vm.vinyl.averageRating" is-read-only="true"></star-rating>
    <h3>
        year
    </h3>
    <p>{{vm.vinyl.year}}</p>
    <tracklist-editor tracklist="vm.vinyl.tracklist" is-read-only="true"></tracklist-editor>
    <reviews reviews="vm.vinyl.reviews" update-review="vm.updateVinylReview(review)"></reviews>
    <div ng-show="vm.isOwner">
        <a href="#/vinyls/{{vm.vinyl._id}}/edit/">
            <button type="button" class="btn btn-warning pull-right">Edit</button>
        </a>
        <button type="button" class="btn btn-danger pull-right" ng-click="vm.deleteVinyl(vm.vinyl)">Delete</button>
    </div>
</div>