<div class="container">
    <h1>You are editing artist {{vm.artist._id}}...</h1>
    <form name="newUserForm" novalidate ng-submit="newUserForm.$valid && vm.updateArtist(vm.artist)">
        <div class="form-group">
            <label for="style">Style:</label><br>
            <select class="form-control" id="style" ng-options="style for style in vm.styles" ng-model="vm.artist.style" required></select>
        </div>
        <upload-box images="vm.artist.images"></upload-box>
        <button type="submit" class="btn btn-success">Save your Update</button>
    </form>
</div>