<div class="container">
    <h1>Edit Artist</h1>
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" ng-model="vm.artist._id">
    </div>
    <div class="form-group">
        <label for="style">Style:</label>
        <select ng-options="style for style in vm.styles" ng-model="vm.artist.style"></select>
    </div>
    <button type="button" class="btn btn-success pull-right" ng-click="vm.updateArtist(vm.artist)">Update</button>
</div>