<div class="container">
    <h1>New Artist</h1>
    <form name="newUserForm" novalidate ng-submit="newUserForm.$valid && vm.createArtist(vm.artist)">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="vm.artist._id" required>
        </div>
        <div class="form-group">
            <label for="style">Style:</label><br>
            <select class="form-control" id="style" ng-options="style for style in vm.styles" ng-model="vm.artist.style" required></select>
        </div>
        <upload-box images="vm.artist.images"></upload-box>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>