<!--Here is the preview-->
<ul ui-sortable ng-model="vm.images" class="row">
    <li ng-repeat="image in vm.images track by $index" class="col-sm-3">
        <img ng-show="image" ngf-thumbnail="image" style="width: 100%">
        <br>
        <button type="button" class="btn btn-danger" ng-click="vm.removeImage(vm.images, $index)">remove</button>
    </li>
</ul>
<!--Here is the dropzone-->
<div>
    <div ngf-drop
         ngf-multiple="true"
         ng-model="vm.uploads"
         ngf-pattern="'image/*'"
         ngf-accept="'image/*'"
         ngf-max-size="20MB"
         ngf-min-height="1"
         ngf-resize="{width: 800, height: 600, centerCrop: true}"
         class="upload-drop-zone">
        Drop files here
    </div>
</div>
