<div ng-hide="!vm.ratingValue && vm.isReadOnly" class="star-ratings-css">
    <div class="star-ratings-css-top" style="width: {{vm.percentage}}">
        <span ng-repeat="star in vm.getNumber(vm.max) track by $index" ng-click="vm.toggle($index)" class="glyphicon glyphicon-star"></span>
    </div>
    <div class="star-ratings-css-bottom" ng-class="{'no-pointer': vm.isReadOnly}">
        <span ng-repeat="star in vm.getNumber(vm.max) track by $index" ng-click="vm.toggle($index)" class="glyphicon glyphicon-star"></span>
    </div>
</div>
<p ng-show="!vm.ratingValue && vm.isReadOnly">No ratings added yet...</p>