<h3>tracklist</h3>
<p ng-hide="tracklist.length">No tracks azdded yet...</p>
<div class="tracklist" ng-hide="isReadOnly">

    <!-- The dnd-list directive allows to drop elements into it.
         The dropped data will be added to the referenced list -->

    <!-- The dnd-list directive allows to drop elements into it.
         The dropped data will be added to the referenced list -->
    <ul dnd-list="vm.vinyl.tracklist" ng-show="tracklist">
        <!-- The dnd-draggable directive makes an element draggable and will
             transfer the object that was assigned to it. If an element was
             dragged away, you have to remove it from the original list
             yourself using the dnd-moved attribute -->
        <li ng-repeat="item in tracklist"
            dnd-draggable="item"
            dnd-moved="vm.vinyl.tracklist.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = item"
            ng-class="{'selected': models.selected === item}"
        >
            <span>{{$index + 1}}</span>
            <span>{{item.title}}</span>
            <!--<span class="glyphicon glyphicon-remove pull-right red-cross" ng-click="tvm.removeTrack(item, vm.vinyl)"></span>-->
            <span class="pull-right">
                {{item.duration.minutes}}:{{item.duration.seconds | twoDigits}}
                <a ng-click="tvm.removeTrack(item, tracklist)">remove</a>
            </span>
        </li>
    </ul>

<form class="form-inline" ng-submit="tvm.addTrack(tvm.track, tracklist)">
    <fieldset class="form-group">
        <label for="track-title">track title</label>
        <input class="form-control" type="text" id="track-title" ng-model="tvm.track.title" placeholder="Enter track name here..." required>
    </fieldset>
    <fieldset class="form-group">
        <label for="track-duration">track duration</label>
            <span>
                <input ng-model="tvm.track.duration.minutes" type="number" class="form-control" placeholder="00" min="0" max="60" step="1" required>
                <span>:</span>
                <input id="track-duration" ng-model="tvm.track.duration.seconds" type="number" class="form-control" placeholder="00" min="0" max="59" step="1" required>
            </span>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="add track"/>
</form>


</div>

<ul class="list-group" ng-show="isReadOnly" >
    <li class="list-group-item" ng-repeat="track in tracklist">
        {{$index + 1}}
        {{track.title}}
        <span class="pull-right">{{track.duration.minutes}}:{{track.duration.seconds | twoDigits}}</span>
    </li>
</ul>

