<div ng-hide="!ratingValue && isReadOnly" class="star-ratings-css">
    <div class="star-ratings-css-top" style="width: {{percentage}}">
        <span ng-repeat="star in getNumber(max) track by $index" ng-click="toggle($index)" class="glyphicon glyphicon-star"></span>
    </div>
    <div class="star-ratings-css-bottom" ng-class="{'no-pointer': isReadOnly}">
        <span ng-repeat="star in getNumber(max) track by $index" ng-click="toggle($index)" class="glyphicon glyphicon-star"></span>
    </div>
</div>
<p ng-show="!ratingValue && isReadOnly">No ratings added yet</p>