<h3>Reviews</h3>
<!--  In case there are no reviews... -->
<p ng-show="vm.reviews.length === 0">No reviews added yet...</p>
<!--  Review List -->
<ul>
    <li ng-repeat="review in vm.reviews">
        <blockquote>
            <star-rating rating-value="review.stars" is-read-only="true"></star-rating>
            <strong><p>{{review.stars}} Stars</p></strong>
            {{review.body}}
            <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
        </blockquote>
    </li>
</ul>
<!--  Review Form -->
<form name="reviewForm" ng-submit="reviewForm.$valid && vm.updateReview({review: vm.review}); vm.addReview(vm.review); " novalidate ng-show="vm.isLoggedIn">
    <!--  Live Preview -->
    <blockquote ng-show="vm.review">
        <star-rating rating-value="vm.review.stars" is-read-only="true"></star-rating>
        <strong>{{vm.review.stars}} Stars</strong>
        {{vm.review.body}}
        <cite class="clearfix">—{{vm.review.author}}</cite>
    </blockquote>
    <!--  Review Form -->
    <h4>Submit a Review</h4>
    <fieldset class="form-group">
        <star-rating rating-value="vm.review.stars"></star-rating>
    </fieldset>
    <fieldset class="form-group">
        <textarea ng-model="vm.review.body" class="form-control" placeholder="Write a short review of the record..." title="Review"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit Review" />
    </fieldset>
</form>


