<h3>tracklist</h3>
<!--in case no tracks are added yet-->
<p ng-hide="vm.tracklist.length">No tracks added yet...</p>
<!--the actual track list-->
<ul ng-hide="vm.isReadOnly" ui-sortable class="list-group" ng-model="vm.tracklist">
    <li class="list-group-item" ng-repeat="track in vm.tracklist track by $index">
        {{$index + 1}}
        {{track.title}}
        <span class="pull-right">
            {{track.duration.minutes}}:{{track.duration.seconds | twoDigits}}
            <a ng-hide="vm.isReadOnly" ng-click="vm.removeTrack($index, vm.tracklist)">remove</a>
        </span>
    </li>
</ul>
<!--ugly solution-->
<ul ng-show="vm.isReadOnly" class="list-group" ng-model="vm.tracklist">
    <li class="list-group-item" ng-repeat="track in vm.tracklist track by $index">
        {{$index + 1}}
        {{track.title}}
        <span class="pull-right">
            {{track.duration.minutes}}:{{track.duration.seconds | twoDigits}}
        </span>
    </li>
</ul>
<!--the input form for adding new tracks-->
<form ng-hide="vm.isReadOnly" class="form-inline" ng-submit="vm.addTrack(vm.track, vm.tracklist)">
    <fieldset class="form-group">
        <label for="track-title">track title</label>
        <input class="form-control" type="text" id="track-title" ng-model="vm.track.title" placeholder="Enter track name here..." required>
    </fieldset>
    <fieldset class="form-group">
        <label for="track-duration">track duration</label>
        <span>
                <input ng-model="vm.track.duration.minutes" type="number" class="form-control" placeholder="00" min="0" max="60" step="1" required>
                <span>:</span>
                <input id="track-duration" ng-model="vm.track.duration.seconds" type="number" class="form-control" placeholder="00" min="0" max="59" step="1" required>
        </span>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="add track"/>
</form>